.header-container {
    background: black;
    color: white;
    padding: 10px;
    height: 70px;
    white-space: nowrap;
}                

.logo-container {
    height: 70px;
    color: white;
    display: inline-block;
    width: 40%;
    text-align: center;
}

.logo {
    height: 70px
}

.title {
    display: inline-block;
}

.home-button {
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}